.outer-most-container{
    display: flex;
    justify-content: center;
}
#container{
    /*border: 3px solid black;*/
    width: 960px;
    height: 960px;
    
}
#container div{
    display: flex;
    justify-content: center;
}

/*#container div div{
    
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    margin: 0;
    /*border: 0.5px solid black;*
}*/

.pixel{
    height: 15px;
    width: 15px;
    background-color: aquamarine;
    margin: 0;
}
